<ion-content padding>
    <ion-list>

        <ion-item>
            <ion-label floating>Nom d'utilisateur</ion-label>
            <ion-input type="text" [(ngModel)]="user.userId"></ion-input>
        </ion-item>

    </ion-list>

    <div padding>
        <button ion-button color="primary" (click)="login(user)" block>Connexion</button>
    </div>

</ion-content>
