<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Chat" tabIcon="text"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="En ligne" tabIcon="people"></ion-tab>
  <ion-tab tabTitle="Déconnexion" tabIcon="exit" (ionSelect)="logout()"></ion-tab>
</ion-tabs>
