<ion-header>
    <ion-navbar>
        <ion-title>Chat</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="message-wrap" *ngIf="show && messages.length > 0">
        <div *ngFor="let message of messages"
             class="message"
             [class.left]="message._sender.userId !== currentUser.userId"
             [class.right]="message._sender.userId === currentUser.userId">
            <!--<img class="user-img" [src]="msg.userAvatar" alt="" src="">-->
            <!--<ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>-->
            <div class="msg-detail">
                <div class="msg-info">
                    <p>{{ message._sender.userId }}&nbsp;&nbsp;&nbsp;{{ message.createdAt | date }}</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker">{{ message.message }}</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer no-border [style.height]="'55px'">
    <div class="input-wrap">
        <!--<button ion-button clear icon-only item-right (click)="switchEmojiPicker()">-->
            <!--<ion-icon name="md-happy"></ion-icon>-->
        <!--</button>-->
        <textarea #chat_input
                  placeholder="Entrer votre message ..."
                  [(ngModel)]="message.message"
                  (keyup.enter)="send(message)">
    </textarea>
        <button ion-button clear icon-only item-right (click)="send(message)">
            <ion-icon *ngIf="!isSending; else sending" name="ios-send" ios="ios-send" md="md-send"></ion-icon>
            <ng-template #sending>
                <ion-spinner name="dots"></ion-spinner>
            </ng-template>
        </button>
    </div>
    <!--<emoji-picker [(ngModel)]="editorMsg"></emoji-picker>-->
</ion-footer>
