<ion-header>
    <ion-navbar>
        <ion-title>
            Utilisateurs en ligne
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="show">
        <ion-item *ngFor="let user of users">
            <ion-icon name="radio-button-on" color="online" item-end></ion-icon>
            <h2>{{ user.userId }}</h2>
            <!--<p>Identifiant : {{ user.userId }}</p>-->
        </ion-item>
    </ion-list>
</ion-content>
